<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="StyleCréationListe.css">
</head>
<body>
    <div>    
            <title> PinTask : Création de Liste</title>
              
        <div class="ConteneurTitle">
            <h1 class="mainTitle"> Création de votre liste </h1>
        </div>
        <div class ="ConteneurChampListe">
            <form action="/VotreList.html" method="POST">
            <label for="nomListe">Nom de votre liste:</label><input type="text" class="nameList"/>
            <label for="prioriteListe">Priorité de votre liste:</label><input type="number" class="priorityList"/>
            <label for="dateListe">Date de création:</label><input type="date" class="dateList"/>  
            </form> 
            <p class = "validateButton">
            <button class="validateCreationAccountButton" type="submit">Envoyer</button>    
            </p> 
        </div>   
    <div>      
</body>

</html>
 <!-- ** ON MET LE JAVASCRIPT TOUT EN BAS, QUESTION DE CLARTE ** -->  
<script src="Javascript.js">
</script>